:root {
  --color-50-gray: hsl(0, 0%, 98%);
  --color-100-gray: hsl(0, 0%, 96%);
  --color-200-gray: hsl(0, 0%, 90%);
  --color-300-gray: hsl(0, 0%, 83%);
  --color-400-gray: hsl(0, 0%, 64%);
  --color-500-gray: hsl(0, 0%, 45%);
  --color-600-gray: hsl(0, 0%, 32%);
  --color-700-gray: hsl(0, 0%, 25%);
  --color-800-gray: hsl(0, 0%, 15%);
  --color-900-gray: hsl(0, 0%, 9%);
  --color-950-gray: hsl(0, 0%, 5%);
  --color-50-indigo: hsl(226, 100%, 97%);
  --color-100-indigo: hsl(226, 100%, 93%);
  --color-200-indigo: hsl(228, 96%, 89%);
  --color-300-indigo: hsl(228, 94%, 82%);
  --color-400-indigo: hsl(230, 92%, 74%);
  --color-500-indigo: hsl(231, 85%, 65%);
  --color-600-indigo: hsl(233, 75%, 56%);
  --color-700-indigo: hsl(235, 67%, 45%);
  --color-800-indigo: hsl(236, 61%, 35%);
  --color-900-indigo: hsl(236, 56%, 26%);
  --color-950-indigo: hsl(237, 54%, 20%);
  --color-50-blue: hsl(210, 100%, 95%);
  --color-100-blue: hsl(210, 100%, 88%);
  --color-200-blue: hsl(210, 95%, 82%);
  --color-300-blue: hsl(210, 90%, 74%);
  --color-400-blue: hsl(210, 85%, 66%);
  --color-500-blue: hsl(210, 80%, 55%);
  --color-600-blue: hsl(210, 75%, 48%);
  --color-700-blue: hsl(210, 70%, 40%);
  --color-800-blue: hsl(210, 65%, 32%);
  --color-900-blue: hsl(210, 60%, 24%);
  --color-950-blue: hsl(210, 55%, 18%);
  --color-50-green: hsl(140, 80%, 95%);
  --color-100-green: hsl(140, 75%, 88%);
  --color-200-green: hsl(140, 70%, 82%);
  --color-300-green: hsl(140, 65%, 74%);
  --color-400-green: hsl(140, 60%, 66%);
  --color-500-green: hsl(140, 55%, 55%);
  --color-600-green: hsl(140, 50%, 48%);
  --color-700-green: hsl(140, 45%, 40%);
  --color-800-green: hsl(140, 40%, 32%);
  --color-900-green: hsl(140, 35%, 24%);
  --color-950-green: hsl(140, 30%, 18%);
  --color-50-yellow: hsl(50, 100%, 95%);
  --color-100-yellow: hsl(50, 100%, 88%);
  --color-200-yellow: hsl(50, 95%, 82%);
  --color-300-yellow: hsl(50, 90%, 74%);
  --color-400-yellow: hsl(50, 85%, 66%);
  --color-500-yellow: hsl(50, 80%, 55%);
  --color-600-yellow: hsl(50, 75%, 48%);
  --color-700-yellow: hsl(50, 70%, 40%);
  --color-800-yellow: hsl(50, 65%, 32%);
  --color-900-yellow: hsl(50, 60%, 24%);
  --color-950-yellow: hsl(50, 55%, 18%);
  --color-50-orange: hsl(30, 100%, 95%);
  --color-100-orange: hsl(30, 100%, 88%);
  --color-200-orange: hsl(30, 95%, 82%);
  --color-300-orange: hsl(30, 90%, 74%);
  --color-400-orange: hsl(30, 85%, 66%);
  --color-500-orange: hsl(30, 80%, 55%);
  --color-600-orange: hsl(30, 75%, 48%);
  --color-700-orange: hsl(30, 70%, 40%);
  --color-800-orange: hsl(30, 65%, 32%);
  --color-900-orange: hsl(30, 60%, 24%);
  --color-950-orange: hsl(30, 55%, 18%);
  --color-50-red: hsl(0, 100%, 95%);
  --color-100-red: hsl(0, 100%, 88%);
  --color-200-red: hsl(0, 95%, 82%);
  --color-300-red: hsl(0, 90%, 74%);
  --color-400-red: hsl(0, 85%, 66%);
  --color-500-red: hsl(0, 80%, 55%);
  --color-600-red: hsl(0, 75%, 48%);
  --color-700-red: hsl(0, 70%, 40%);
  --color-800-red: hsl(0, 65%, 32%);
  --color-900-red: hsl(0, 60%, 24%);
  --color-950-red: hsl(0, 55%, 18%);
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 52px;
  --spacing-14: 56px;
  --spacing-15: 60px;
  --spacing-16: 64px;
  --spacing-17: 68px;
  --spacing-18: 72px;
  --spacing-19: 76px;
  --spacing-20: 80px;
  --spacing-21: 84px;
  --spacing-22: 88px;
  --spacing-23: 92px;
  --spacing-24: 96px;
  --spacing-25: 100px;
  --spacing-26: 104px;
  --spacing-27: 108px;
  --spacing-28: 112px;
  --spacing-29: 116px;
  --spacing-30: 120px;
}

.button {
  --color-bg: var(--button-bg-default);
  --color-text: var(--button-text-default);
  --color-bg-hover: var(--button-bg-hover);
  --color-text-hover: var(--button-text-hover);
  --color-active-ring: var(--button-active-ring-default);
  --ring: var(--button-ring-md);
  --padding: var(--button-padding-md);
  --gap: var(--button-gap-md);
  --size-icon: var(--button-icon-md);
  
  display: inline-flex;
  padding: var(--padding);
  background-color: var(--color-bg);
  color: var(--color-text);
  outline: var(--ring) solid transparent;
  transition: background-color, color, outline-color var(--transition-duration-300) var(--transition-fn);
}
.button:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-text-hover);
}
.button:focus, .button:active {
  outline-color: var(--color-active-ring);
}/*# sourceMappingURL=main.css.map */