@use 'sass:map';
@use '@shared/molecule' as *;
@use '@shared/transition' as *;
@use '@mixins/color-mode' as *;
@use '@shared/color-role' as *;

.button {
  @extend %shared-molecule;
  @extend %shared-transition;   

  @extend %color-role-default;
  @extend %color-role-default-reactive;


  display: inline-flex;        
  align-items: center;        
  justify-content: center;     



  --px: var(--space-3); 
  --py: var(--space-2);  
  --gap: var(--space-3);
  --ring: var(--ring-2);

  --text-sz: var(--text-sz-sm);           
  --text-wght: var(--text-wght-medium);  
  
}
