@use '@mixins/color-mode' as *;
%color-role-default {
  --color-bg: var(--color-gray-100);    
  --color-text: var(--color-gray-600);  


  @include color-mode(dark) {
    --color-bg: var(--color-gray-900);
    --color-text: var(--color-grat-400);
  }
}

%color-role-default-reactive {
  &:hover {
    --color-bg: var(--color-gray-200);
    --color-text: var(--color-gray-700);
  }
  
  &:active,
  &:focus {
    --color-ring: var(--color-gray-300);
    position: relative;
  }

  @include color-mode(dark) {
    &:hover  {
      --color-bg: var(--color-gray-800);
      --color-text: var(--color-gray-300);
    }
  
    &:focus,
    &:active {
      --color-ring: var(--color-gray-700)
    }
  }
}