@use 'sass:map';

$icon-size-map: (
  xs: 14px,
  sm: 16px,
  md: 20px,
  lg: 24px,
  xl: 28px,
  2xl: 32px,
  3xl: 36px,
  4xl: 40px,
  5xl: 48px,
  6xl: 56px,
  7xl: 64px,
);
$icon-size-varients: map.keys($icon-size-map);